<div class="card">
  <div class="card-header">
    <div class="d-flex flex-wrap  align-items-center">
      <img class="img-lodging" draggable="false"
        src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49118131/original/277aed14-970b-4f1f-98b5-7cf41906d053.jpeg?im_w=1200">
      <div class="lodging-info ms-3">
        <p class="type-lodging">Cabaña entera</p>
        <p class="name-lodging">Cabaña Cororo</p>
        
        <div class="d-flex align-items-center rate">
          <span class="icon icon-star me-1 mt-auto mb-auto">
            <i class="bi bi-star-fill"></i>
          </span>
          <span class="total-rating">4.5</span>
          <span class="total-reviews ms-1">(<u>8k reseñas</u>)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="title-sm-text">Información de reserva</p>
    <div class="iva-total">
      <div class="d-flex flex-wrap align-items-center justify-content-center mb-3">
        <img class="user-img me-3" draggable="false"
          src="https://media.discordapp.net/attachments/574438784611909645/909205401084510218/182325284_1161200667626223_5999048449218695878_n.jpg?width=580&height=580">
        <div class="d-flex flex-wrap justify-content-between flex-fill">
          <div class="flex-fill">
            <div class="rol-user">
              Huésped
            </div>
            <div class="user-name">
              Juan Manuel
            </div>
          </div>
          <div class="stay-description flex-fill">
            <div class="stay-title">
              Estadía
            </div>
            <div class="dates-of-stay">
              28/01/2022 - 04/02/2022
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span>Total</span>
      <span class="total-price">$4'991,071</span>
    </div>
  </div>
</div>