<div class="modal fade" id="servicesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title">Lo que este alojamiento ofrece</h5>
        <h6 class="sub-title">Servicios</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let service of servicesNames">{{service.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>