<div class="modal fade" id="servicesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title">Lo que este alojamiento ofrece</h5>
        <h6 class="sub-title">Servicios</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Secadora de pelo</li>
          <li class="list-group-item">Champú</li>
          <li class="list-group-item">Agua caliente</li>
          <li class="list-group-item">Lavadora</li>
          <li class="list-group-item">Secadora</li>
          <li class="list-group-item">Toallas</li>
          <li class="list-group-item">Sábanas</li>
          <li class="list-group-item">Jabón</li>
          <li class="list-group-item">Papel higiénico</li>
          <li class="list-group-item">Ganchos para la ropa</li>
          <li class="list-group-item">Almohadas y mantas adicionales</li>
          <li class="list-group-item">Persianas o corticas opacas</li>
          <li class="list-group-item">Plancha</li>
          <li class="list-group-item">TV</li>
          <li class="list-group-item">Detector de humo</li>
          <li class="list-group-item">Detector de monóxido de carbono</li>
          <li class="list-group-item">Extintor de incendios</li>
          <li class="list-group-item">Botiquín de primeros auxilios</li>
          <li class="list-group-item">Wi-Fi</li>
          <li class="list-group-item">Escritorio o mesa con silla y espacio para laptop</li>
          <li class="list-group-item">Cocina</li>
          <li class="list-group-item">Refrigerador</li>
          <li class="list-group-item">Microondas</li>
          <li class="list-group-item">Ollas y sartenes</li>
          <li class="list-group-item">Aceite</li>
          <li class="list-group-item">Sal</li>
          <li class="list-group-item">Pimienta</li>
          <li class="list-group-item">Platos y cubiertos</li>
          <li class="list-group-item">Cocina</li>
          <li class="list-group-item">Horno</li>
          <li class="list-group-item">Cafetera</li>
          <li class="list-group-item">Entrada por otra calle o edificio</li>
          <li class="list-group-item">Patio o balcón</li>
          <li class="list-group-item">Estacionamiento gratuito en las instalaciones</li>
          <li class="list-group-item">Estacionamiento gratuito en la calle</li>
          <li class="list-group-item">Ascensor</li>
          <li class="list-group-item">Se permiten mascotas</li>
          <li class="list-group-item">Se permite dejar el equipaje</li>
          <li class="list-group-item">Disponible para estadías largas</li>
          <li class="list-group-item">Acceso sin restricción de horario</li>
          <li class="list-group-item">Personal de edificio</li>
        </ul>
      </div>
    </div>
  </div>
</div>