.lodging-info {
  margin-left: 10%;
}

.container {
  min-height: 100vh;
  margin-bottom: 45px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 992px) {
  .filters-dropdowns {
    display: none !important;
  }

  .title-card {
    width: 100%;
  }
}

.dropdown-toggle {
  border: 1px solid #1b1f2428;
  background-color: #e5e5e57c;
}

.btn-filters {
  border: 1px solid #292929;
  color: white;
  background: #292929;
  height: 40px;
}

.btn-filters:hover {
  box-shadow: 0px 0px 8px #292929;
}

.pagination {
  font-size: 13px;
}

.btn-without-bg {
  margin: 0;
}