<div class="container">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex flex-column title-card">
      <h2 class="fw-bold font-26">Estadía <span *ngIf="municipality">en {{ municipality.name }}</span><span
          *ngIf="!municipality"> en el Quindío</span></h2>
      <div>
        <small>
          <span *ngIf="total <= 1">Existe {{ total }} alojamiento</span>
          <span *ngIf="total > 1">Descubre más de {{ total }} alojamientos</span>
          <span *ngIf="municipality"> en {{ municipality.name }}</span>
          <span *ngIf="!municipality"> en el Quindío</span>
        </small>
      </div>
      <div>
        <small class="fw-bold">
          Tipo de alojamiento:
        </small>
        <small *ngIf="type">{{ type.name }}</small>
        <small *ngIf="!type">Todos</small>
        <span *ngIf="persons || rooms || beds || bathrooms">
          <span *ngIf="persons"> -
            <small class="fw-bold">Huéspedes: </small><small>{{persons}}</small>
          </span>
          <span *ngIf="rooms"> -
            <small class="fw-bold">Habitaciones: </small><small>{{rooms}}</small>
          </span>
          <span *ngIf="beds"> -
            <small class="fw-bold">Camas: </small><small>{{beds}}</small>
          </span>
          <span *ngIf="bathrooms"> -
            <small class="fw-bold">Baños: </small><small>{{bathrooms}}</small>
          </span>
        </span>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <div>
        <button class="btn btn-filters font-13 px-5 " type="button" data-bs-toggle="modal"
          data-bs-target="#filtersModal">
          Filtros
        </button>
      </div>
    </div>
  </div>
  <app-lodging-card *ngFor="let lodging of lodgings" [lodging]="lodging" [actualRoute]="actualRoute"></app-lodging-card>
  <div class="pagination" *ngIf="lodgings.length !== 0">
    <div class="d-flex flex-wrap  flex-fill align-items-center justify-content-between">
      <div class="actual-page d-flex flex-wrap">
        <span class="me-1">Página</span>
        <span *ngIf="actualPage <= 9">0{{ actualPage }}</span>
        <span *ngIf="actualPage > 9">{{ actualPage }}</span>
        <span class="ms-1">de {{ totalPages }}</span>
      </div>
      <div class="action-buttons">
        <button class="btn btn-without-bg border me-2 px-4 py-2 shadow-none" [disabled]="disabledBack"
          (click)="back()">Atrás</button>
        <button class="btn btn-without-bg border px-5 py-2 shadow-none" [disabled]="disabledNext"
          (click)="next()">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<ng-template #lodgingsNotFound>
  <div class="container">
    No se encontraron hospedajes
  </div>
</ng-template>
<app-lodging-filters></app-lodging-filters>