<div class="lodging-imgs">
  <div class="d-flex flex-wrap justify-content-center">
    <img class="lodging-img-first img-fluid me-md-3"
      src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49797177/original/7196e42d-b098-4505-9c22-e4e9f5b514a4.jpeg?im_w=1200">
    <div class="second-column">
      <div class="d-flex flex-wrap">
        <img class="lodging-img img-fluid me-md-3 m-sm-auto"
          src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49797177/original/8cfbdfce-ae8e-4cab-8dc9-9950d8bd2056.jpeg?im_w=720">
        <img class="lodging-img img-fluid lodging-img-second m-sm-auto"
          src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49797177/original/1af16906-02d6-42d0-ae7e-f10112a03b51.jpeg?im_w=720">
      </div>
      <div class="d-flex flex-wrap mt-md-3">
        <img class="lodging-img img-fluid me-md-3 m-sm-auto"
          src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49797177/original/2116781d-4eaf-4ffc-9bc2-d48ccc4ed2b4.jpeg?im_w=720">
        <img class="lodging-img img-fluid lodging-img-four m-sm-auto"
          src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49797177/original/5835c4e6-bde5-4ea2-8c58-e7684840db3f.jpeg?im_w=720">
      </div>
    </div>
  </div>
</div>
