<div class="lodging-imgs">
  <div class="d-flex flex-wrap justify-content-center">
    <img class="lodging-img-first img-fluid me-md-3" [src]="url+'/'+images[0]">
    <div class="second-column">
      <div class="d-flex flex-wrap">
        <img class="lodging-img img-fluid me-md-3 m-sm-auto" [src]="url+'/'+images[1]">
        <img class="lodging-img img-fluid lodging-img-second m-sm-auto" id="image3" [src]="url+'/'+images[2]">
      </div>
      <div class="d-flex flex-wrap mt-md-3">
        <img class="lodging-img img-fluid me-md-3 m-sm-auto" [src]="url+'/'+images[3]">
        <img class="lodging-img img-fluid lodging-img-four m-sm-auto" [src]="url+'/'+images[4]">
      </div>
    </div>
  </div>
</div>