<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title">¿Cómo fue tu estadia en {{ lodgingName }}?</h5>
        <form [formGroup]="reviewForm" #formDir="ngForm" (submit)="submit()">
          <div class="d-flex flex-wrap justify-content-between mb-3">
            <div class="flex-fill pe-5">
              <div class="d-flex justify-content-between align-items-center">
                <label for="quality">Calidad</label>
                <span id="quality-value">1.0</span>
              </div>
              <input type="range" class="form-range" id="quality" min="1.0" max="5" step="0.1" value="1.0"
                (input)="setValue($event)" name="quality" formControlName="quality">
            </div>
            <div class="flex-fill">
              <div class="d-flex justify-content-between align-items-center">
                <label for="veracity">Veracidad</label>
                <span id="veracity-value">1.0</span>
              </div>
              <input type="range" class="form-range" id="veracity" min="1" max="5" step="0.1" value="1.0"
                (input)="setValue($event)" name="veracity" formControlName="veracity">
            </div>
          </div>
          <div class="d-flex flex-wrap justify-content-between mb-3">
            <div class="flex-fill pe-5">
              <div class="d-flex justify-content-between align-items-center">
                <label for="cleaning">Limpieza</label>
                <span id="cleaning-value">1.0</span>
              </div>
              <input type="range" class="form-range" id="cleaning" min="1" max="5" step="0.1" value="1.0"
                (input)="setValue($event)" name="cleaning" formControlName="cleaning">
            </div>
            <div class="flex-fill">
              <div class="d-flex justify-content-between align-items-center">
                <label for="ubication">Ubicación</label>
                <span id="ubication-value">1.0</span>
              </div>
              <input type="range" class="form-range" id="ubication" min="1" max="5" step="0.1" value="1.0"
                (input)="setValue($event)" name="ubication" formControlName="ubication">
            </div>
          </div>
          <label for="comment" class="mb-1">Describe tu experiencia durante la estadia</label>
          <textarea class="form-control shadow-none" formControlName="description"
            name="description"></textarea>
          <div class="error text-danger"
            *ngIf="formDir.submitted && reviewForm.get('description')?.hasError('required')">Por favor ingrese el
            comentario que desea realizar</div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-without-bg border me-2 py-2 shadow-none" data-bs-dismiss="modal"
              aria-label="Close" type="button">Cancelar</button>
            <button class="btn btn-primary-action  px-4 py-2 shadow-none" type="submit">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
