<div class="fw-bold font-20 mb-3">Lo que este alojamiento ofrece</div>
<form [formGroup]="serviceForm">
  <div class="mb-3 mt-2">
    <div class="input-group mb-3">
      <span class="input-group-text bg-white" id="basic-addon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
      <input list="showTypeLodgingList" class="form-control shadow-none search-input"
        placeholder="Escribe el nombre del servicio que ofreces" id="services" (change)="selectService($event)">
    </div>
    <datalist id="showTypeLodgingList">
      <option *ngFor="let item of services" [value]="item.name"></option>
    </datalist>
  </div>
</form>
<div class="mb-3">
<div class="service-container" id="languages">
  <div class="d-flex w-100 justify-content-center align-items-center flex-column font-13 text-muted" *ngIf="services.length===0; else servicesChips">
    <div>¿Qué servicios ofreces en tu alojamiento?</div>
    <div>Ejemplo: Wi-Fi, Cocina, Parqueadero, entre otros.</div>
  </div>
  <ng-template #servicesChips>
    <app-service-chip *ngFor="let item of selectedServices" [service]="item"></app-service-chip>
  </ng-template>
</div>
<div class="error text-danger mb-2" *ngIf="serviceForm.get('services').hasError('minService')">Por favor seleccione por lo menos 10 servicios</div>
</div>