<div class="d-flex flex-wrap justify-content-between align-items-center">
  <div class="name-lodging">
    {{name}}
  </div>
  <app-buttons *ngIf="context === 'panel-host'" [state]="actualState"></app-buttons>
</div>
<div class="little-info-lodging d-flex align-items-end justify-content-between">
  <div class="d-flex flex-wrap align-items-center">
    <span class="icon mb-1 me-1 mt-auto mb-auto d-flex align-items-center">
      <i class="bi bi-star-fill"></i>
    </span>
    <span class="reviews">
      {{qualification}}
      (
      <span (click)="scrollTo()">
        <u>
        {{count | numberSuffix:limitNumber}} reseñas</u>
      </span>
      )
    </span>
    <span class="separator-point mt-auto mb-auto">·</span>
    <span class="icon mb-1 me-1 mt-auto mb-auto d-flex align-items-center">
      <i class="bi bi-geo-alt-fill"></i>
    </span>
    <span class="municipality">
      {{municipality}}, Quindío
    </span>
    <span class="separator-point mt-auto mb-auto">·</span>
    <span class="icon mb-1 me-1 mt-auto mb-auto d-flex align-items-center">
      <i class="bi bi-house-fill"></i>
    </span>
    <span class="type-lodging">
      {{type}}
    </span>
  </div>
</div>