<form [formGroup]="filtersForm">
<div class="search-lodgings border">
  <div class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-2">
    <div class="ms-5">
      <label for="Municipio" class="form-label">Municipio</label>
      <input list="showMunicipiosList" class="form-control shadow-none" id="municipio" placeholder="¿A dónde vas?" formControlName="municipality">
      <datalist id="showMunicipiosList">
        <option *ngFor="let municipality of municipalities" data-value="{{ municipality.id }}" value="{{ municipality.name }}"></option>
      </datalist>
    </div>
    <div class="ms-5" style="width: 15.75rem;">
      <label for="Type lodging" class="form-label">Tipo de alojamiento</label>
      <input list="showTypeLodgingList" class="form-control shadow-none" id="type-lodging" placeholder="¿Qué tipo de alojamiento quieres?" formControlName="typeId">
      <datalist id="showTypeLodgingList">
        <option *ngFor="let type of lodgingTypes" data-value="{{ type.id }}" value="{{ type.name }}" ></option>
      </datalist>
    </div>
    <div class="ms-5">
      <label for="municipio" class="form-label">Huéspedes</label>
      <input type="number" class="form-control shadow-none" id="huespedes" placeholder="¿Cuántos?" min="1" formControlName="peopleAmount">
    </div>
    <div class="ms-5 me-4">
      <button class="btn search-btn rounded-circle d-flex align-items-center justify-content-center" (click)="filterLodgings()">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
          focusable="false"
          style="fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
          <g fill="none">
            <path
              d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
            </path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
</form>