<div class="d-flex flex-wrap justify-content-between align-items-center">
  <div class="d-flex flex-wrap align-items-center justify-content-center flex-fill mb-3" *ngIf="nav !== 'panel-host'">
    <div class="user-img">
      <img class="owner-profile-picture"
        src="{{ photo }}">
    </div>
    <div class="flex-fill ms-3">
      <div class="d-flex flex-wrap justify-content-between">
        <span class="owner-name"><b>Propietario</b> - {{ name }}</span>
      </div>
      <div class="date">
        <span>{{ createdAt }}</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center flex-fill mb-3">
    <div class="flex-fill">
      <div class="d-flex flex-wrap  languages-title">
        <span>¿Qué idiomas habla?</span>
      </div>
      <div class="languages">
        <span>{{ languages }}</span>
      </div>
    </div>
  </div>
</div>