<div class="card">
  <div class="card-header">
    <div class="d-flex flex-wrap  align-items-center">
      <img class="img-lodging "
        src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-49118131/original/277aed14-970b-4f1f-98b5-7cf41906d053.jpeg?im_w=1200">
      <div class="lodging-info ms-3">
        <p class="type-lodging">Cabaña entera</p>
        <p class="name-lodging">Cabaña Cororo</p>
        <!--
        <div class="utils-lodging d-flex flex-wrap">
          <p>1 habitación</p>
          <span class="separator-point mt-auto mb-auto">·</span>
          <p>1 cama</p>
          <span class="separator-point mt-auto mb-auto">·</span>
          <p>1 baño</p>
        </div>
        -->
        <div class="d-flex align-items-center rate">
          <span class="icon icon-star me-1 mt-auto mb-auto">
            <i class="bi bi-star-fill"></i>
          </span>
          <span class="total-rating">4.5</span>
          <span class="total-reviews ms-1">(<u>8k reseñas</u>)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="title-sm-text">Información de pago</p>
    <div class="iva-total">
      <div class="d-flex flex-wrap justify-content-between mb-3">
        <span>$624,286 x 7 noches</span>
        <div class="total-nights">
          <span>$4,370,000</span>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <span>IVA</span>
        <div class="total-iva">
          <span>19%</span>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span>Total</span>
      <span class="total-price">$4'991,071</span>
    </div>
  </div>
</div>