<div class="details">
  <div class="your-stay">
    <h6 class="title-text">Tu estadía</h6>
    <p class="title-sm-text">Fechas</p>
    <p class="title-md-text">28 de ene de 2022 - 4 de feb de 2022 </p>
    <p class="title-sm-text">Huéspedes</p>
    <p class="title-md-text">1 huésped </p>
  </div>
  <hr>
  <div class="payment-method">
    <h6 class="title-text">Modo de pago</h6>
    <div class="card card-payment-method">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="payment-description flex-fill">
          <p class="title-sm-text">Pago único</p>
          <p class="title-md-text">Paga el total ahora y listo</p>
        </div>
        <div class="payment-total flex-fill text-end">
          <p class="title-md-text">$4,991,071</p>
        </div>
      </div>
    </div>
  </div>
</div>