<div class="filter-best-lodgings-title d-flex flex-wrap justify-content-between">
  <span class="me-1">Mejores alojamientos</span>
  <a class="show-all-lodgings">Ver más</a>
</div>
<div class="best-lodgings" id="best-lodgings">
  <div class="row">
    <div class="d-flex justify-content-between align-items-center">
      <div class="lodging">
        <div class="m-auto ms-0">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto ms-0">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="https://a0.muscache.com/im/pictures/b15a0d34-06e0-43a0-af27-96cac9cdddaa.jpg?im_w=720">
            <div class="qualification d-flex justify-content-center align-items-center">
              4.5
            </div>
          </div>
          <p class="mt-2">Casas</p>
        </div>
      </div>
      <div class="lodging">
        <div class="m-auto">
          <div class="img-qualification bg-show-more">
            <div class="view-more d-flex justify-content-center align-items-center">
                Ver más
            </div>
          </div>
          <p class="mt-2">&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>