<div class="filter-best-lodgings-title d-flex flex-wrap justify-content-between">
  <span class="me-1">Mejores alojamientos</span>
  <a class="show-all-lodgings" [routerLink]="['/lodgings']">Ver más</a>
</div>
<div class="best-lodgings" id="best-lodgings">
  <div class="row" >
    <div class="d-flex justify-content-between align-items-center">
      <div class="lodging" *ngFor="let lodging of bestLodgings">
        <div class="m-auto ms-0">
          <div class="img-qualification">
            <img class="lodging-img" draggable="false"
              src="{{ lodging.image }}">
            <div class="qualification d-flex justify-content-center align-items-center">
              {{lodging.qualification}}
            </div>
          </div>
          <p class="mt-2" (click)="showLodging(lodging.id)"><u>{{lodging.name}}</u></p>
        </div>
      </div>
      <div class="lodging" [routerLink]="['/lodgings']">
        <div class="m-auto">
          <div class="img-qualification bg-show-more">
            <div class="view-more d-flex justify-content-center align-items-center">
                Ver más
            </div>
          </div>
          <p class="mt-2">&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>