<div class="card floating-form">
  <div class="card-header">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="nigth-value">
        <span class="price">$624,286</span>
        <span>/noche</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="icon mb-1 me-2 mt-auto mb-auto">
          <i class="bi bi-star-fill"></i>
        </span>
        <span class="total-rating">4.5</span>
        <span class="total-reviews ms-1">(<u>8k reseñas</u>)</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form #formDir="ngForm" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <div class="card card-form">
        <div class="dates">
          <div class="d-flex flex-wrap">
            <div class="first-date flex-fill">
              <label for="startDate">Llegada</label>
              <input class="form-control shadow-none" placeholder="Agrega una fecha" onfocus="(this.type='date')" onblur="(this.type='text')" formControlName="startDate" name="startDate">
            </div>
            <div class="second-date flex-fill">
              <label for="endDate">Salida</label>
              <input class="form-control shadow-none" placeholder="Agrega una fecha" onfocus="(this.type='date')" onblur="(this.type='text')" formControlName="endDate" name="endDate">
            </div>
          </div>
        </div>
        <div class="guests">
          <label for="peopleAmount">Huéspedes</label>
          <input class="form-control shadow-none" placeholder="Cantidad de huéspedes" formControlName="peopleAmount" name="peopleAmount">
        </div>
      </div>
      <div class="error text-danger mb-3" style="margin-top: -25px;"
      *ngIf="formDir.submitted && (
        reservationForm.get('startDate')?.hasError('required') ||
        reservationForm.get('endDate')?.hasError('required') ||
        reservationForm.get('peopleAmount')?.hasError('required') ||
        reservationForm.get('peopleAmount')?.hasError('nonZero')
      )">Por favor toda la informacion solicitada</div>
      <button class="btn btn-primary-action w-100">Reservar</button>
    </form>
    <div class="d-flex flex-wrap justify-content-between">
      <span>$624,286 x 7 noches</span>
      <div class="total-nights">
        <span>$4,370,000</span>
      </div>
    </div>
    <hr>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span class="total">Total</span>
      <span class="total-price">$4'991,071</span>
    </div>
  </div>
</div>