<nav  class="navbar navbar-expand-md fixed-top navbar-light bg-white border-bottom">
  <div class="container ps-4 pe-4">
    <a class="navbar-brand navbar-brand-center">Alójate
      Quindío</a>
    <div class="d-flex">
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lodgings']" routerLinkActive="active" [queryParams]="">Alojamientos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-4 mt-auto mb-auto">
          <a class="nav-link" href="#" routerLinkActive="active">Hazte anfitrión</a>
        </li>
        <div class="d-flex">
          <button [routerLink]="['/sign-in']" class="btn btn-primary-action border ps-5 pe-5 shadow-none">Iniciar
            sesión</button>
        </div>
      </ul>
    </div>
  </div>
</nav>