<div class="d-flex flex-wrap justify-content-center align-items-center">
  <div class="card flex-fill mb-2 me-md-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="context-and-value">
        <div class="context">
          Alojamientos
        </div>
        <div class="value">
          {{totalLodgings | numberSuffix:lodgingsLimiter}} en total
        </div>
      </div>
      <div class="context-icon">
        <i class="bi bi-box-seam"></i>
      </div>
    </div>
  </div>
  <div class="card flex-fill mb-2 me-md-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="context-and-value">
        <div class="context">
          Reservas
        </div>
        <div class="value">
          {{totalReservations | numberSuffix:reservationsLimiter}} en total
        </div>
      </div>
      <div class="context-icon">
        <i class="bi bi-clock-history"></i>
      </div>
    </div>
  </div>
  <div class="card flex-fill mb-md-2">
    <div class="d-flex flex-wrap  justify-content-between align-items-center">
      <div class="context-and-value">
        <div class="context">
          Total reseñas que se han realizado
        </div>
        <div class="value">
          8.5k se han realizado
        </div>
      </div>
      <div class="context-icon">
        <i class="bi bi-check-all"></i>
      </div>
    </div>
  </div>
</div>