.bg-sign-in {
  background: linear-gradient(98deg, #292929 0%, rgba(88, 114, 205, 0.5) 100%);
  backdrop-filter: blur(4px);
  padding-top: 6rem;
}

.bg-sign-in, a {
  color: #FFFFFF;
}

.sign-in-form {
  min-height: 93.2vh;
  padding-bottom: 2.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

label {
  margin-bottom: 10px;
}

div[class^='col-'] {
  margin-bottom: 15px;
}

div[class^='col-']:last-child {
  margin-bottom: 0;
}

input::placeholder {
  color: #00000071;
}

label, .form-control, .sign-up-info {
  font-size: 14px;
}

.form-control {
  height: 45px;
  font-weight: normal;
}

.sign-up-info {
  margin-top: 15px;
}

a:hover {
  color: #dfdede;
}

.error {
  text-shadow: 1px 1px 3px #292929ad;
}