<div class="title">
  Lo que este alojamiento ofrece
</div>
<ul class="services-list">
  <li class="service-item">Oficina</li>
  <li class="service-item">Estacionamiento gratuito</li>
  <li class="service-item">TV</li>
  <li class="service-item">Lavadora</li>
  <li class="service-item">Patio o balcón</li>
  <li class="service-item">Wi-Fi</li>
  <li class="service-item">Se permiten mascotas</li>
  <li class="service-item">Ascensor</li>
  <li class="service-item">Secadora</li>
  <li class="service-item">Se permite dejar el equipaje</li>
</ul>
<button class="btn btn-without-bg border px-5 py-2 shadow-none" data-bs-toggle="modal" data-bs-target="#servicesModal">Mostrar los 36 servicios</button>

<app-services-modal></app-services-modal>
