<main class="container">
  <app-lodging-name-info></app-lodging-name-info>
  <app-imgs-lodging></app-imgs-lodging>
  <div class="d-flex flex-wrap justify-content-between" >
    <div class="lodging-information flex-fill col-md-3 me-md-5" >
      <app-owner-lodging-info></app-owner-lodging-info>
      <hr>
      <app-about-lodging></app-about-lodging>
      <hr>
      <app-services-lodging></app-services-lodging>
      <hr>
      <app-lodging-accessibility></app-lodging-accessibility>
      <hr>
      <app-lodging-location></app-lodging-location>
    </div>
    <div class="perform-reservation flex-fill" style="background: green;">
      <app-floating-perform-reservation></app-floating-perform-reservation>
    </div>
  </div>
</main>