<div class="d-flex flex-wrap mt-5">
  <div class="img-card">
    <div id="carousel{{lodging.id}}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" [attr.data-bs-target]="'#carousel' + lodging.id" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" [attr.data-bs-target]="'#carousel' + lodging.id" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" [attr.data-bs-target]="'#carousel' + lodging.id" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" [attr.data-bs-target]="'#carousel' + lodging.id" data-bs-slide-to="3"
          aria-label="Slide 3"></button>
        <button type="button" [attr.data-bs-target]="'#carousel' + lodging.id" data-bs-slide-to="4"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="i == 0 ? 'active' : ''"
          *ngFor="let image of lodging.pictures; let i = index">
          <img class="lodging-img" draggable="false" src="{{ url_server_pictures  }}/{{ image }}">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + lodging.id"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + lodging.id"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="qualification d-flex justify-content-center align-items-center">
      {{lodging.comments.qualification}}
    </div>
  </div>
  <div class="d-flex flex-wrap flex-column flex-fill justify-content-center">
    <div class="d-flex justify-content-between">
      <small class="d-block font-13">{{lodging.type.name}}</small>
      <small><a class="text-reset" href="" *ngIf="host">Ver Reservas</a></small>
    </div>
    <div class="d-block font-20 fw-bold">{{lodging.name}}</div>
    <hr class="hr-name mt-2">
    <small class="d-block font-13">
      <span *ngIf="lodging.persons_amount > 1">{{ lodging.persons_amount }} huespedes</span>
      <span *ngIf="lodging.persons_amount === 1">{{ lodging.persons_amount }} huespedes</span>
      ·
      <span *ngIf="lodging.room_quantity > 1">{{ lodging.room_quantity }} habitaciones</span>
      <span *ngIf="lodging.room_quantity === 1">{{ lodging.room_quantity }} habitación</span>
      ·
      <span *ngIf="lodging.bed_quantity > 1">{{ lodging.bed_quantity }} camas</span>
      <span *ngIf="lodging.bed_quantity === 1">{{ lodging.bed_quantity }} cama</span>
      ·
      <span *ngIf="lodging.bathroom_quantity > 1">{{ lodging.bathroom_quantity }} baños</span>
      <span *ngIf="lodging.bathroom_quantity === 1">{{ lodging.bathroom_quantity }} baño</span>
    </small>
    <!--<small class="d-block mt-3 font-13">wifi · cocina · estacionamiento gratuito · lavadora</small>-->
    <div class="d-flex mt-3">
      <img class="user-img" draggable="false"
        src="{{ url_server_owner_picture }}/{{ lodging.user.photo }}">
      <div class="d-flex flex-column ms-2 align-self-center">
        <small class="form-text font-12">Anfitrión</small>
        <small class="font-12">{{ lodging.user.name }}</small>
      </div>
    </div>
    <div class="d-flex flex-wrap mt-3 justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <span class="icon mb-1 me-2 mt-auto mb-auto">
          <i class="bi bi-star-fill"></i>
        </span>
        <small class="font-12">{{ lodging.comments.qualification }}</small>
        <small class="ms-1 font-12"> ({{lodging.comments.count}} reseñas)</small>
      </div>
      <div>
        <small class="font-16">{{lodging.night_value|currency}} COP/noche</small>
      </div>
    </div>
  </div>
</div>
<hr>