<nav class="nav-main">
    <ul class="nav-menu">
        <li (click)="switchForm('user')"><a>
                <i class="bi bi-person"></i>
                Usuarios</a></li>
        <li (click)="switchForm('lodging')">
            <a>
                <i class="bi bi-house"></i>
                Hospedajes
            </a>
        </li>
        <li (click)="switchForm('comments')">
            <a>
                <i class="bi bi-chat-square"></i>
                Comentarios
            </a>
        </li>
    </ul>
</nav>