<div class="d-flex flex-wrap justify-content-between">
  <div class="owner-info-estate">
    <div class="owner" *ngIf="context !== 'panel-host'">
      <b>Propietario</b> - {{ name }}
    </div>
    <div class="estates">
      <span class="guests" *ngIf="persons_amount > 1">{{ persons_amount }} huéspedes</span>
      <span class="guests" *ngIf="persons_amount == 1">{{ persons_amount }} huésped</span>
      <span class="separator-point mt-auto mb-auto">·</span>
      <span class="rooms" *ngIf="room_quantity > 1">{{ room_quantity }} habitaciónes</span>
      <span class="rooms" *ngIf="room_quantity == 1">{{ room_quantity }} habitación</span>
      <span class="separator-point mt-auto mb-auto">·</span>
      <span class="beds" *ngIf="bed_quantity > 1">{{ bed_quantity }} cama</span>
      <span class="beds" *ngIf="bed_quantity == 1">{{ bed_quantity }} cama</span>
      <span class="separator-point mt-auto mb-auto">·</span>
      <span class="bathrooms" *ngIf="bathroom_quantity > 1">{{ bathroom_quantity }} baño</span>
      <span class="bathrooms" *ngIf="bathroom_quantity == 1">{{ bathroom_quantity }} baño</span>
    </div>
  </div>
  <div *ngIf="context !== 'panel-host'">
    <img class="owner-profile-picture" src="{{picture}}">
  </div>
</div>