.municipalities-title {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 2.5rem;
  cursor: default;
}

.municipalities {
  overflow: hidden;
}

.img-municipality{ 
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.municipality {
  margin-right: 50px;
  cursor: pointer;
}

.municipal-lodgings {
  width: 200px;
}

.municipality:last-child {
  margin-right: 0px;
}

.municipality-content {
  padding-left: 1rem;
  font-size: 12px;
}