<div class="municipalities-title">
  Municipios del Quindío
</div>
<div class="municipalities" id="municipalities">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="municipality" *ngFor="let municipality of municipalitiesOne" (click)="filterLodgings(municipality.id)">
        <div class="m-auto ms-0 d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="../../../assets/img/{{ municipality.url_picture }}.jpg">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">{{ municipality.name }}</p>
            <p class="m-auto municipal-lodgings">{{municipality.lodgings.total}} alojamientos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="d-flex justify-content-between">
      <div class="municipality" *ngFor="let municipality of municipalitiesTwo" (click)="filterLodgings(municipality.id)">
        <div class="m-auto ms-0 d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="../../../assets/img/{{ municipality.url_picture }}.jpg">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">{{ municipality.name }}</p>
            <p class="m-auto municipal-lodgings">{{municipality.lodgings.total}} alojamientos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>