<div class="municipalities-title">
  Municipios del Quindío
</div>
<div class="municipalities" id="municipalities">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="municipality">
        <div class="m-auto ms-0 d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="d-flex justify-content-between">
      <div class="municipality">
        <div class="m-auto ms-0 d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
      <div class="municipality">
        <div class="m-auto d-flex align-items-center">
          <img class="img-municipality" draggable="false"
            src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240">
          <div class="municipality-content w-100">
            <p class="m-auto municipality-name">Armenia</p>
            <p class="m-auto municipal-lodgings">1000 alojamientos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>