<li class="comment-item flex-fill">
  <div class="comment-header">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <div class="user-img">
        <img class="user-profile-picture"
          src="{{ user_photo }}">
      </div>
      <div class="flex-fill ms-3">
        <div class="d-flex flex-wrap justify-content-between user-review">
          <span class="user-name">{{ name }}</span>
          <div class="total-rating d-flex align-items-center">
            <span class="icon mb-1 me-2 mt-auto mb-auto">
              <i class="bi bi-star-fill"></i>
            </span>
            <span>{{ total }}</span>
          </div>
        </div>
        <div class="date">
          <span>{{ createdAt }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-body">
    <p>{{ description }}</p>
  </div>
</li>