<li class="comment-item">
  <div class="comment-header">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <div class="user-img">
        <img class="user-profile-picture"
          src="https://media.discordapp.net/attachments/574438784611909645/909205401084510218/182325284_1161200667626223_5999048449218695878_n.jpg?width=580&height=580">
      </div>
      <div class="flex-fill ms-3">
        <div class="d-flex flex-wrap justify-content-between user-review">
          <span class="user-name">Juan</span>
          <div class="total-rating d-flex align-items-center">
            <span class="icon mb-1 me-2 mt-auto mb-auto">
              <i class="bi bi-star-fill"></i>
            </span>
            <span>4.5</span>
          </div>
        </div>
        <div class="date">
          <span>noviembre de 2021</span>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-body">
    <p>Un espacio muy bien ubicado, totalmente equipado. Juan es un excelente anfitrión.
      Volveré.</p>
  </div>
</li>