<div class="container">
  <div class="d-block">
    <div class="d-flex flex-wrap">
      <div class="d-flex flex-column w-50 user-container-info">
        <div class="d-flex font-24 fw-bold align-items-center mb-3">
          <div class="cancel-icon me-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </div>
          Configuración de cuenta
        </div>
        <app-user-information [user]="userForm.get('user')"></app-user-information>
        <hr>
        <app-guest-information [guestForm]="userForm.get('guest')"></app-guest-information>
        <hr>
        <app-host-information [hostForm]="userForm.get('host')"></app-host-information>
        <hr>
        <app-cancel-account></app-cancel-account>
      </div>
      <div class="d-flex flex-fill justify-content-center user-img-container">
        <img class="user-img" draggable="false" id="profileImg"
          src="https://cdn.discordapp.com/attachments/574438784611909645/909205401084510218/182325284_1161200667626223_5999048449218695878_n.jpg">
      </div>
    </div>
  </div>
</div>
