.cancel-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.cancel-icon:hover {
  background-color: #e5e5e57c;
}

.user-img {
  width: 340px;
  height: 340px;
  border-radius:50%;
  position: sticky;
  top: 100px;
}

@media (max-width: 990px) {
  .user-container-info{
    width: 100% !important;
    margin-bottom: 20px;
  }

  .user-img-container{
    order: -1;
    margin-bottom: 30px;
  }
}

hr{
  margin-bottom: 30px;
}
