<div class="d-flex flex-column">
  <div class="font-20 fw-bold">Información de huésped</div>
  <div>
    <form [formGroup]="guestForm" (submit)="submit()">
      <div class="mb-3 mt-2">
        <label for="stratum" class="form-label font-14 fw-bold">Estrato</label>
        <input type="text" class="form-control shadow-none" name="stratum" formControlName="stratum">
        <div class="error text-danger mb-2"
          *ngIf="(guestForm.get('stratum').hasError('required') || guestForm.get('stratum').hasError('nonZero')) && guestForm.get('stratum').touched">
          Por favor ingrese su estrato valido</div>
      </div>

      <div class="mb-3 mt-2">
        <label for="civilStatusId" class="form-label font-14 fw-bold">Estado civil</label>
        <select class="form-select shadow-none" aria-label="Default select example" name="civilStatusId"
          formControlName="civilStatusId">
          <option value="" disabled>Estado Civil</option>
          <option *ngFor="let item of civilStatus" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="error text-danger mb-2"
          *ngIf="guestForm.get('civilStatusId').hasError('required') && guestForm.get('civilStatusId').touched">Por
          favor seleccione su estado civil</div>
      </div>

      <div class="mb-3 mt-2">
        <label for="studyLevelId" class="form-label font-14 fw-bold">Nivel de estudio</label>
        <select class="form-select shadow-none" aria-label="Default select example" name="studyLevelId"
          formControlName="studyLevelId">
          <option value="" disabled>Nivel de estudio</option>
          <option *ngFor="let item of studyLevels" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="error text-danger mb-2"
          *ngIf="guestForm.get('studyLevelId').hasError('required') && guestForm.get('studyLevelId').touched">Por favor
          seleccione su nivel de estudio</div>
      </div>
      <button type="submit" class="btn btn-guardar" [disabled]="guestForm.invalid">Guardar cambios</button>
    </form>
  </div>
</div>
