.image-container {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  height: 365px;
  border-radius: 15px 0px 0px 15px;
  color: #A19E9E;
}

.sub-image-div {
  width: 24%;
}

.sub-image-container {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  height: 177.5px;
  margin-bottom: 10px;
}

.d-flex .sub-image-div:nth-child(2) {
  margin: 0px 10px 0px 10px;
}

div .sub-image-div:last-child .sub-image-container:last-child,
div .sub-image-div:last-child .sub-image-container:last-child .img-lodging {
  border-radius: 0px 0px 15px 0px;
}

div .sub-image-div:last-child .sub-image-container:first-child,
div .sub-image-div:last-child .sub-image-container:first-child .img-lodging {
  border-radius: 0px 15px 0px 0px;
}

.image-selector {
  width: 100%;
  height: 100%;
  border: none;
  color: #A19E9E;
  background: none;
}

.big-img-lodging {
  height: 97%;
  width: 100%;
  border-radius: 15px 0px 0px 15px;
}

.img-lodging {
  height: 97%;
  width: 100%;
}

@media (max-width: 1200px) {
  .image-container {
    width: 100% !important;
    margin-bottom: 10px;
    border-radius: 15px 15px 0px 0px;
  }

  .big-img-lodging {
    border-radius: 15px 15px 0px 0px;
  }

  .sub-image-div {
    width: 49%;
  }

  .d-flex .sub-image-div:nth-child(2) {
    margin: 0px auto 0px 0px;
  }

  div .sub-image-div:last-child .sub-image-container:last-child,
  div .sub-image-div:last-child .sub-image-container:last-child .img-lodging{
    border-radius: 0px 0px 15px 0px;
  }

  div .sub-image-div:nth-child(2) .sub-image-container:last-child,
  div .sub-image-div:nth-child(2) .sub-image-container:last-child .img-lodging {
    border-radius: 0px 0px 0px 15px;
  }

  div .sub-image-div:last-child .sub-image-container:first-child,
  div .sub-image-div:last-child .sub-image-container:first-child .img-lodging {
    border-radius: 0px;
  }
}
