<div class="title">
  Acerca de este alojamiento
</div>
<div class="description hide-text" id="description">
  <p>Ubicado en la mejor zona de Bogotá. Ideal para viajes de negocios, familias y grupos de amigos que quieren alojarse en
  un espacioso loft moderno. Usted estará a poca distancia del centro comercial, restaurantes, supermercados, bares y
  cafeterías de la ciudad.</p>

  <p>Es un hotel conceptual y descentralizado que reúne a viajeros de todo el mundo en una red de apartamentos, repartidos
  por todo el mundo, con calidad básica, diseño, propósito educativo y sostenibilidad.</p>

  <b>El espacio</b>
  <p>Edificio moderno en el Parque Virrey.</p>
  
  <b>Acceso de los huéspedes</b>
  <p>Check-in sin restricción de horario con portero las 24 horas, los 7 días de la semana.</p>
</div>

<button class="btn btn-without-bg border px-5 py-2 shadow-none" id="show-more-description" (click)="showMore()">Mostrar más</button>