<div class="title d-flex flex-wrap justify-content-between">
  <span class="me-1">Reservas recientes</span>
  <a class="show-all-reservations">Ver más</a>
</div>
<div class="recent-bookings" id="recent-bookings">
  <div class="d-flex justify-content-between align-items-center">
    <app-recent-card-booking class="me-3"></app-recent-card-booking>
    <app-recent-card-booking class="me-3"></app-recent-card-booking>
    <app-recent-card-booking class="me-3"></app-recent-card-booking>
    <app-recent-card-booking></app-recent-card-booking>
    &nbsp;
  </div>
</div>