.filter-best-lodgings-title {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

.show-all-lodgings {
  font-weight: normal;
  font-size: 0.875rem;
  cursor: pointer;
}

.best-lodgings, .view-more {
  overflow: hidden;
}

.lodging {
  font-size: 15px;
  margin-right: 25px;
}

.img-qualification {
  position: relative;
}

.lodging-img {
  width: 300px;
  height: 200px;
  border-radius: 1.25rem;
}

.view-more {
  width: 325px;
  height:  200.44px;
  border-radius: 1.25rem;
  color: #FFFFFF;
  background: linear-gradient(98deg, #292929 0%, #2929296e 100%);
  backdrop-filter: blur(4px);
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
}

.view-more:hover {
  backdrop-filter: blur(8px);
}

.qualification {
  background: rgba(29, 29, 29, 0.3);
  backdrop-filter: blur(4px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  margin-top: -190px;
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 0;
}

.bg-show-more {
  background: url(https://c1.wallpaperflare.com/preview/316/916/954/salento-quind%C3%ADo-colombia-street.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  border-radius: 1.25rem;
}

p {
  cursor: pointer;
  font-weight: 600;
}