<div class="container">
  <div class="d-block">
    <div class="d-flex flex-wrap justify-content-between card-body">
      <div class="d-flex flex-column">
        <h2 class="fw-bold title font-26">Reservas Realizadas</h2>
        <div class="font-14">
          <small>Has realizado {{total}} reservas</small>
        </div>
        <!--
        <div class="font-14">
          <small class="fw-bold">Búsqueda: </small><small>Parámetro de búsqueda</small>
        </div>
      </div>
      <div class="d-flex">
        <form>
          <div class="d-flex filter-options">
            <div class="mb-3 me-3 input-search">
              <input type="text" class="form-control filter-info font-13" id="searchInput" aria-describedby="searchHelp"
                placeholder="Buscar por código...">
            </div>
            <div class="dropdown me-3 mb-3">
              <button class="btn dropdown-toggle px-5 py-2 font-13" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Estado
              </button>
              <ul class="dropdown-menu font-13" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Activo</a></li>
                <li><a class="dropdown-item" href="#">Inactivo</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn dropdown-toggle px-4 py-2 font-13" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                En los ultimos
              </button>
              <ul class="dropdown-menu font-13" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">7 días</a></li>
                <li><a class="dropdown-item" href="#">15 días</a></li>
                <li><a class="dropdown-item" href="#">30 días</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>-->
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="d-block">
      <div class="d-flex flex-wrap justify-content-center">
        <app-reservation-card *ngFor="let item of reservations" [host]="false" [reservation]="item">
        </app-reservation-card>
      </div>
    </div>

    <div class="pagination" *ngIf="reservations.length != 0">
      <div class="d-flex flex-wrap  flex-fill align-items-center justify-content-between">
        <div class="actual-page d-flex flex-wrap">
          <span class="me-1">Página</span>
          <span *ngIf="actualPage <= 9">0{{ actualPage }}</span>
          <span *ngIf="actualPage > 9">{{ actualPage }}</span>
          <span class="ms-1">de {{ totalPages }}</span>
        </div>
        <div class="action-buttons">
          <button class="btn btn-without-bg border me-2 px-4 py-2 shadow-none" [disabled]="disabledBack"
            (click)="back()">Atrás</button>
          <button class="btn btn-without-bg border px-5 py-2 shadow-none" [disabled]="disabledNext"
            (click)="next()">Siguiente</button>
        </div>
      </div>
    </div>

  </div>