/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
}

.btn-primary-action {
  background: linear-gradient(91.5deg, #5872CD 0%, #58CDBF 100%);
  border: none;
  height: 3rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.813rem;
}

.btn-primary-action:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary-action:hover {
  background: linear-gradient(91.5deg, #4d63b4 0%, #53c2b5 100%);
  color: #FFFFFF;
}