.filter-types-lodgings-title {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

.show-all-lodgings {
  font-weight: normal;
  font-size: 0.875rem;
  cursor: pointer;
}

.filter-types-lodgings {
  margin-bottom: 3rem;
}

.lodging-img {
  height: 310px;
  border-radius: 1.25rem;
}

.lodging {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}