<div class="filter-types-lodgings-title d-flex flex-wrap justify-content-between">
  Tipos de alojamientos
  <a class="show-all-lodgings" [routerLink]="['/lodgings']">Ver más</a>
</div>
<div class="filter-types-lodgings d-flex flex-wrap justify-content-center">
  <div class="lodging m-auto" *ngFor="let type of lodgingTypes" (click)="filterLodgings(type.id)">
    <img class="lodging-img" draggable="false" src="{{urlPictureServer}}/{{ type.url_picture }}">
    <p class="mt-2">{{ type.name }}</p>
  </div>
</div>