<form class="payment-method-form" [formGroup]="reservationForm" #formDir="ngForm">
  <h6 class="title-text">Paga con</h6>
  <div class="card-number">
    <label for="cardNumber">Número de tarjeta</label>
    <input class="form-control shadow-none" placeholder="xxxx xxxx xxxx xxxx" formControlName="cardNumber" name="cardNumber">
    <div class="error text-danger"
    *ngIf="formDir.submitted && (reservationForm.get('cardNumber')?.hasError('required') || reservationForm.get('cardNumber')?.hasError('minlength') || reservationForm.get('cardNumber')?.hasError('maxlength'))">Por favor ingrese el numero de la tarjeta</div>
  </div>
  <div class="card-security">
    <div class="d-flex flex-wrap">
      <div class="expiration-date flex-fill">
        <label for="expiration-date">Expira</label>
        <input class="form-control shadow-none" placeholder="MM/YY" onblur="(this.type='text')" formControlName="expDate" name="expDate">
        <div class="error text-danger"
        *ngIf="formDir.submitted && reservationForm.get('expDate')?.hasError('required')">Por favor ingrese la fecha de expiración</div>
      </div>
      <div class="cvv flex-fill">
        <label for="securityCode">Código de seguridad</label>
        <input class="form-control shadow-none" placeholder="CVV" formControlName="securityCode" name="securityCode">
        <div class="error text-danger"
        *ngIf="formDir.submitted && (reservationForm.get('securityCode')?.hasError('required') || reservationForm.get('securityCode')?.hasError('minlength') || reservationForm.get('securityCode')?.hasError('maxlength'))">Por favor ingrese el codigo de seguridad</div>
      </div>
    </div>
  </div>
  <hr>
  <h6 class="title-text">Información para tu estadía</h6>
  <div class="stay-util-info">
    <p class="title-sm-text">Comunícate con el anfitrión</p>
    <p class="title-md-text">Cuéntale al anfitrión por qué te alojas y cuándo llegas</p>
    <p class="title-md-text">
      <i class="bi bi-envelope-fill me-1 icon"></i>
      pabloguzman@hotmail.com
    </p>
  </div>
  <hr>
  <button class="btn btn-primary-action px-4" type="submit">Confirma y paga</button>
</form>